@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-marcellus;
  }



  section {
    @apply py-10 md:py-20 space-y-5 md:space-y-10;
  }

  h1 {
    @apply text-primary text-3xl md:text-4xl lg:text-5xl  font-marcellus;
  }

  h2 {
    @apply text-lg md:text-xl lg:text-2xl;
  }

  h3 {
    @apply text-4xl md:text-5xl lg:text-6xl font-black;
  }
  
  h4 {
    @apply text-lg md:text-lg lg:text-xl font-marcellus;
  }

  p {
    @apply text-base text-textcolor font-Lato;
  }

  input {
    @apply p-5 bg-[#F4F4F4] rounded-md text-textcolor
           placeholder:text-black
           focus:outline-none focus:ring-2 focus:ring-primary;
  }

  textarea {
    @apply p-5 bg-[#F4F4F4] rounded-md text-textcolor
           placeholder:text-black
           focus:outline-none focus:ring-2 focus:ring-primary;
  }
}

@layer utilities {
  .font-marcellus {
    font-family: Marcellus, sans-serif;
  }
   .font-Lato {
    font-family: 'Lato', sans-serif;
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-left {
  animation: marquee-left 20s linear infinite;
}
